

.fondo1 {
   
    background-image: url(assets/arracacha.jpg);
    width: 750px;
    height: 500px;
    position: relative;
    margin: auto;
    top: 90px;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
}

.basura {
    position: absolute;
    width:50px ;
    height: auto;
    bottom: 0;
    left: 20px;
    animation: basuraG 3s infinite linear alternate;
}

@keyframes basuraG {
    0% {
        transform: scale (0);
    }
    100% {
        transform: scale(5);
    }   
} 
    


.Dib{
 position :absolute;
width: 100px;
 height: auto;
left:300px;
top: 350px;
animation: moverDib 4s infinite linear alternate;


}

@keyframes moverDib{
    0% {
        transform: traslateX(0);
    }
    100%{
        transform: translateX(-100px);
    }
}

.gaz {
    position :absolute;
    width: 80px;
     height: auto;
    left: 400px;
    top: 390px;
    animation: moverGaz 3s infinite linear alternate;
}

@keyframes moverGaz {
    0% {
        transform: translateY(0);
    }
  
    100% {
        transform: translateY(-100px);

}
}

.perro {
    position :absolute;
    width: 80px;
     height: auto;
    left: 500px;
    top: 400px;
    cursor: pointer;
  
}

@keyframes Mperro {
0%{
    transform: translateY(0) ;

}

50%{
    transform: translateY(-100px) ;

}
}

.MoPerro {
    animation: Mperro 0.5s forwards;
}

.contador {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}



body {
    margin: 0;
    padding: 0;
    background-color: rgb(26, 2, 44);
}

.fondo2 {
    background-image: url(assets/fondo\ 2.jpg);
    width: 750px;
    height: 500px;
    position: relative;
    margin: auto;
    top: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
}

.pastel {
    position: absolute;
    width:50px ;
    height: auto;
    bottom: 0;
    left: 20px;
    animation: pastelG 3s infinite linear alternate;

}

@keyframes pastelG {
    0% {
        transform: scale (0);
    }
    100% {
        transform: scale(5);
    }
} 
    


.reyhelado{
 position :absolute;
width: 100px;
 height: auto;
left:300px;
top: 350px;
animation: moverReyHelado 4s infinite linear alternate;


}

@keyframes moverReyHelado{
    0% {
        transform: traslateX(0);
    }
    100%{
        transform: translateX(-100px);
    }
}

.marceline {
    position :absolute;
    width: 80px;
     height: auto;
    left: 400px;
    top: 390px;
    animation: moverMarceline 3s infinite linear alternate;
}

@keyframes moverMarceline {
    0% {
        transform: translateY(0);
    }
  
    100% {
        transform: translateY(-100px);

}
}

.mentita {
    position :absolute;
    width: 80px;
     height: auto;
    left: 500px;
    top: 400px;
    cursor: pointer;
  
}

@keyframes Mmentita {
0%{
    transform: translateY(0) ;

}

50%{
    transform: translateY(-100px) ;

}
}

.MoMentita {
    animation: Mmentita 0.5s forwards;
}

.cont {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
